* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	font-family: Arial, sans-serif;
	width: 100%;
	background-color: #F9F9F9;
	  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

header {
	width: 100%;
	padding: 0px 112px;
	background-color: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
	background-color: white;
	height: 101px;
	width: 100%;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav .logo img {
	height: 82px;
	width: 220px;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
}

nav ul .dropdown-btn{
	margin: 24px;
}

nav li {
	display: inline-block;
	position: relative;
}

nav .dropdown li a {
	display: block;
}

nav ul li .dropdown {
	position: absolute;
	z-index: 999;
	display: none;
	top: 100px;
	padding: 10px;
	left: 20px;
	margin: auto;
	width: auto;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul li:hover .dropdown {
  display: block;
}

nav ul li .dropdown li {
  display: block;
}

nav ul li .dropdown-btn {
	color: rgba(31, 53, 61, 1);
}

nav ul li .dropdown{
	background-color: white;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

nav a,
nav ul li .dropdown-btn {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav a:hover,
nav ul li .dropdown-btn:hover {
	background-color: #ddd;
	color: black;
}

nav .button-container .profile-btn {
	width: 124px;
	height: 40px;
	padding: 7px 15px;
	border-radius: 40px;
	border: 2px solid #548BAB;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
	background-color: white;
	color: #548BAB;
	transition: background-color 0.3s ease; /* Add a smooth transition effect */
	font-family: 'Filson Pro';
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
}

nav .button-container .profile-btn:hover {
	background-color: #548BAB;
	color: white; /* Change the background color on hover */
}
 
nav .button-container .profile-btn img {
	width: 30px; /* Adjust the width as needed */
	height: 30px; /* Adjust the height as needed */
}

/* ---------Profile Blue------------------ */
.colored-border-container {
	background-color: #548BAB;
	width: 100%;
	height: 165px;
	border: 10px solid #548BAB; /* Set the border color to match the background */
}
 
.colored-border-container .profile {
	font-family: Montserrat;
	font-size: 48px;
	font-weight: 700;
	line-height: 65px;
	letter-spacing: 0px;
	text-align: left;
	background: #548BAB;
	color: #FFFFFF;
	padding: 20px;
	margin-left:230px;
	margin-top: 20px;
}

main {
	width: 100%;
}

main .first-half {
	width: 30%;
	float: left;
}

main .rectangle-container {
	width: 220px;
	height: 450px;
	top: 316px;
	left: 50px;
	border: 2px solid white;
	background: white;
	border-radius: 8px;
	overflow: hidden;
	box-sizing: border-box;
	margin-bottom: 10px;
	margin-left: 250px;
	margin-top: 50px;
	padding: 10px 0px;
}

main .rectangle-container a {
  	display: block;
  	text-decoration: none;
  	color: #333;
}

.rectangle-container .item {
	display: flex;
	flex-direction: column;
	align-items: left;
	gap:20px;
	margin-left: 20px;
}
 
.rectangle-container .item .link {
	display: flex;
	margin: 10px 0px;
	align-items: center;
	text-decoration: none;
	color: inherit;
}
 
.rectangle-container .item .icon {
	width: 15.5px;
	height: 15.5px;
	margin-right: 10px;
	margin-top: 2%;
	margin-bottom: 2%;
	transition: transform 0.3s ease;
}
 
.rectangle-container .item h5 {
	margin: 0;
	transition: color 0.3s ease;
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
}
 
.rectangle-container .item .link:hover .icon {
	transform: scale(1.2);
}
 
.rectangle-container .item .link:hover h5 {
	color: #548BAB;
}

/*---------------------------*/
/* job alerts */

main .second-half {
	width: 70%;
	float: right;
	margin-top: 50px;

}

.container {
  width: 680px;
  height: 230px;
  position: relative; /* Change position to relative */
  background-color: #ffffff; /* For demonstration, you can change or remove this */
  margin-bottom: 20px; /* Add some space between containers */
	padding: 0px 30px;
	border: 1px solid #E5E6E2;
}

.container h6 {
	font-family: 'Montserrat';
	font-size: 14px;
  	font-weight: 600;
  	line-height: 21px;
}

.container .first-line {
	display: flex;
	flex-direction: row;
	height: 65px;
	justify-content: space-between;
	padding-bottom: 0px;
	align-items: center;
}

.container .first-line h6 {
	color: #595959;
}

.container .first-line h3 {
	font-family: 'Montserrat';
	font-size: 20px;
  	font-weight: 700;
  	line-height: 30px;
}

.container .cols {
	display: flex;
	flex-direction: row;
	height: 125px;
}

.container .cols h6{
	color: #595959;
}


.container .cols .col1 h6,
.container .cols .col2 ul li{
	padding: 3px 0px;
}


.container .cols .col3 {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.container .cols .col3 .save-btn{
	width: 119px;
	height: 36px;
	padding: 6px 10px;
	border-radius: 55px;
	border: 2px solid #548BAB;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
	background-color: white;
	color: #548BAB;
	transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.container .cols .col3 h6{
	font-family: 'Montserrat';
	font-size: 14px;
  	font-weight: 600;
  	line-height: 23.5px;
}
.container .cols .col3 .save-btn img{
	width: 14px;
	height: 14px;
}

.container .cols .col3 .email-btn{
	width: 119px;
	height: 36px;
	padding: 6px 10px;
	border-radius: 55px;
	border: 2px solid #548BAB;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
	background-color: white;
	color: #548BAB;
	transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.container .cols .col3 .email-btn img{
	width: 14px;
	height: 14px;
}

nav .button-container .profile-btn:hover {
	background-color: #548BAB;
	color: white; /* Change the background color on hover */
}
 
nav .button-container .profile-btn img {
	width: 30px; /* Adjust the width as needed */
	height: 30px; /* Adjust the height as needed */
}

.container .category {
	height: 40px;
	bottom: 0;
	position: relative;
	padding: 5px 0px;
}

.container .category h5{
	font-family: 'Montserrat';
	font-size: 13px;
  	font-weight: 600;
  	line-height: 16.51px;
	display: inline-block;
	color: #548BAB
}

.second-half .header2 {
	font-family: 'Montserrat';
	font-size: 24px;
  	font-weight: 700;
  	line-height: 36px;
	margin-bottom: 20px;
}

.live {
  display: inline-block; /* Make the container fit snugly around the text */
  border: 1px solid #548BAB; /* Adding a 1px solid border */
  margin-left: 1px;
  
}

.live-jobs {
  	color: #548BAB; /* Set the color of "Live jobs" to blue */
	font-family: 'Montserrat';
	font-size: 14px;
  	font-weight: 600;
  	line-height: 21px;
}
.live-jobs .expired {
  	color: #AEAEAA;
	font-family: 'Montserrat';
	font-size: 14px;
  	font-weight: 600;
  	line-height: 21px;
	margin: 0px 10px;
}
.line{
  margin-top: -2px;
	margin-bottom: 25px;
} 

footer {
	bottom: 0;
	width: 100%;
	height: 698px;
	padding-top: 166px;
	
}

.footer {
  background-color: FBFBFB;
  padding: 0px 112px 0px 107px;
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  }
   
   
  .footerLogo {
  width: 219.23px;
  height: 81.49px;
  margin-left: 50px;
  margin-right: 90px;

  }
   
   
  .glee{
    margin-left: 50px;
    width: 176px;
    height: 48px;
    top: 275px;
    left: 112px;
    color:#548BAB;
    font-size: 22px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: baseline;
	margin-top: 25px;
  }
   
   
  .footer-links {
  display: flex;
  flex-wrap: wrap;
  margin-right: 30%;
  align-items: flex-start;
  margin-top: 20px;
  }
   
   
 .footer-column {
  flex: 1;
margin-bottom: 10px;
  }
   
   
.footer-column a {
  display: block;
  color:#6B7280;
  text-decoration: none;
  padding: 16px 0px;
  }
   
   
.footer-column a:hover {
  color: blue;
  }
   
.same{
	padding: 0px 112px 0px 107px;
}
   
.footer-line {
  border-bottom: 1px solid #E5E7EB;
  margin-top: 3%;
  }
   
   
.social-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
	margin-top: 34px;
  }
   
   
  .social-icons img {
  width: 30px;
  height: 30px;
  margin:  9px;
  cursor: pointer;
  }
   
   
.centered-text {
  margin-top: 20px;
}
  
.centered-text a {
  
  color: black;
  text-decoration: none;
  margin-left: 50px;
  }

.centered-text a:hover {
  color: blue;
  }
  
.bott {
  display: flex;
	width: 100%;
  justify-content: center;
bottom: 0;
	position: relative;
	height: 100px;
  }
   
   
.bott img {
	bottom: 0;
	width: 100%;
	height: 80px;
  }